<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @asignatura.nombre %>
</p>

<p>
  <strong>Credito:</strong>
  <%= @asignatura.credito %>
</p>

<p>
  <strong>Seccion:</strong>
  <%= @asignatura.seccion %>
</p>

<p>
  <strong>Nrc:</strong>
  <%= @asignatura.nrc %>
</p>

<p>
  <strong>Profesor:</strong>
  <%= @asignatura.profesor %>
</p>

<%= link_to 'Edit', edit_asignatura_path(@asignatura) %> |
<%= link_to 'Back', asignaturas_path %>
