<%= form_with(model: semestre, local: true) do |form| %>
  <% if semestre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(semestre.errors.count, "error") %> prohibited this semestre from being saved:</h2>

      <ul>
      <% semestre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :periodo_academico %>
    <%= form.number_field :periodo_academico %>
  </div>

  <div class="field">
    <%= form.label :asignatura_id %>
    <%= form.text_field :asignatura_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
