<p id="notice"><%= notice %></p>

<h1>Semestres</h1>

<table>
  <thead>
    <tr>
      <th>Periodo academico</th>
      <th>Asignatura</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @semestres.each do |semestre| %>
      <tr>
        <td><%= semestre.periodo_academico %></td>
        <td><%= semestre.asignatura %></td>
        <td><%= link_to 'Show', semestre %></td>
        <td><%= link_to 'Edit', edit_semestre_path(semestre) %></td>
        <td><%= link_to 'Destroy', semestre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Semestre', new_semestre_path %>
