<p id="notice"><%= notice %></p>

<p>
  <strong>Periodo academico:</strong>
  <%= @semestre.periodo_academico %>
</p>

<p>
  <strong>Asignatura:</strong>
  <%= @semestre.asignatura %>
</p>

<%= link_to 'Edit', edit_semestre_path(@semestre) %> |
<%= link_to 'Back', semestres_path %>
