<%= form_with(model: carrera, local: true) do |form| %>
  <% if carrera.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carrera.errors.count, "error") %> prohibited this carrera from being saved:</h2>

      <ul>
      <% carrera.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :campus %>
    <%= form.text_field :campus %>
  </div>

  <div class="field">
    <%= form.label :semestre_id %>
    <%= form.text_field :semestre_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
