<p id="notice"><%= notice %></p>

<h1>Carreras</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Campus</th>
      <th>Semestre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carreras.each do |carrera| %>
      <tr>
        <td><%= carrera.nombre %></td>
        <td><%= carrera.campus %></td>
        <td><%= carrera.semestre %></td>
        <td><%= link_to 'Show', carrera %></td>
        <td><%= link_to 'Edit', edit_carrera_path(carrera) %></td>
        <td><%= link_to 'Destroy', carrera, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carrera', new_carrera_path %>
