<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @carrera.nombre %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @carrera.campus %>
</p>

<p>
  <strong>Semestre:</strong>
  <%= @carrera.semestre %>
</p>

<%= link_to 'Edit', edit_carrera_path(@carrera) %> |
<%= link_to 'Back', carreras_path %>
