<%= form_with(model: facultad, local: true) do |form| %>
  <% if facultad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(facultad.errors.count, "error") %> prohibited this facultad from being saved:</h2>

      <ul>
      <% facultad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :ubicacion %>
    <%= form.text_field :ubicacion %>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.number_field :telefono %>
  </div>

  <div class="field">
    <%= form.label :director %>
    <%= form.text_field :director %>
  </div>

  <div class="field">
    <%= form.label :carrera_id %>
    <%= form.text_field :carrera_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
