<p id="notice"><%= notice %></p>

<h1>Facultads</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ubicacion</th>
      <th>Telefono</th>
      <th>Director</th>
      <th>Carrera</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facultads.each do |facultad| %>
      <tr>
        <td><%= facultad.nombre %></td>
        <td><%= facultad.ubicacion %></td>
        <td><%= facultad.telefono %></td>
        <td><%= facultad.director %></td>
        <td><%= facultad.carrera %></td>
        <td><%= link_to 'Show', facultad %></td>
        <td><%= link_to 'Edit', edit_facultad_path(facultad) %></td>
        <td><%= link_to 'Destroy', facultad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facultad', new_facultad_path %>
