<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @facultad.nombre %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @facultad.ubicacion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @facultad.telefono %>
</p>

<p>
  <strong>Director:</strong>
  <%= @facultad.director %>
</p>

<p>
  <strong>Carrera:</strong>
  <%= @facultad.carrera %>
</p>

<%= link_to 'Edit', edit_facultad_path(@facultad) %> |
<%= link_to 'Back', facultads_path %>
