<%= form_with(model: asignatura_alumno, local: true) do |form| %>
  <% if asignatura_alumno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asignatura_alumno.errors.count, "error") %> prohibited this asignatura_alumno from being saved:</h2>

      <ul>
      <% asignatura_alumno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nota %>
    <%= form.number_field :nota %>
  </div>

  <div class="field">
    <%= form.label :ponderacion %>
    <%= form.number_field :ponderacion %>
  </div>

  <div class="field">
    <%= form.label :asignatura_id %>
    <%= form.text_field :asignatura_id %>
  </div>

  <div class="field">
    <%= form.label :alumno_id %>
    <%= form.text_field :alumno_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
