<p id="notice"><%= notice %></p>

<h1>Asignatura Alumnos</h1>

<table>
  <thead>
    <tr>
      <th>Nota</th>
      <th>Ponderacion</th>
      <th>Asignatura</th>
      <th>Alumno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asignatura_alumnos.each do |asignatura_alumno| %>
      <tr>
        <td><%= asignatura_alumno.nota %></td>
        <td><%= asignatura_alumno.ponderacion %></td>
        <td><%= asignatura_alumno.asignatura %></td>
        <td><%= asignatura_alumno.alumno %></td>
        <td><%= link_to 'Show', asignatura_alumno %></td>
        <td><%= link_to 'Edit', edit_asignatura_alumno_path(asignatura_alumno) %></td>
        <td><%= link_to 'Destroy', asignatura_alumno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asignatura Alumno', new_asignatura_alumno_path %>
