<p id="notice"><%= notice %></p>

<p>
  <strong>Nota:</strong>
  <%= @asignatura_alumno.nota %>
</p>

<p>
  <strong>Ponderacion:</strong>
  <%= @asignatura_alumno.ponderacion %>
</p>

<p>
  <strong>Asignatura:</strong>
  <%= @asignatura_alumno.asignatura %>
</p>

<p>
  <strong>Alumno:</strong>
  <%= @asignatura_alumno.alumno %>
</p>

<%= link_to 'Edit', edit_asignatura_alumno_path(@asignatura_alumno) %> |
<%= link_to 'Back', asignatura_alumnos_path %>
