<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @aula.numero %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @aula.nombre %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @aula.horario %>
</p>

<%= link_to 'Edit', edit_aula_path(@aula) %> |
<%= link_to 'Back', aulas_path %>
